<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <add name="localhost_Connection" connectionString="XpoProvider=MSSqlServer;data source=.;user id=sa;password=sa;initial catalog=Quan_Ly_Kho_Data;Persist Security Info=true" />
    </connectionStrings>
</configuration>